<form action="/login" method="POST">
  <h2 class="titlelogin">LOGIN</h2>
  
  <div class="row mb-3">
    <label name="email" for="email" class="col-sm-1 col-form-label date">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="input-email" name="email">
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-1 col-form-label date">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="********">
    </div>
  </div>

  <button type="submit" class="btn btn-light btn-login">Login</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>

<img class="d-flex justify-content-center imagelogin " src="/images/background_3.png"/>
