<div>
  <h1 class="title">WHO <br>WE ARE</h1>
  <p class="parrafo">The Daily Plant are an app who help you to creat your <br> own food garden in any place</p>
</div>

<div class="d-flex flex-nowrap justify-content-between">
  <div class="d-inline-flex p-2">
      <img  src="images/background.png" style="width: 400px"/>
  </div>
  <div class="flex-row-reverse p-2">
      <h1 class="titleizq " >WHAT <br> OFFER TO YOU</h1>
    <ul class="parrafoizq">
      <li>We give you tips to care your plants</li>
      <li>Organize in you calendar when do you have to <br> hidrate and fertilize your plants depending of time of year</li>
    </ul>
  </div>
</div>





