<h3 class="subtitleplants">Add a plant<br>from our catalog</h3>

<form action="/info/new" method="POST">
<label for="title" name="name">Chili</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Lettuce</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Strawberry</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Tomato</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Peach</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Apple</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Orange</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Green Peas</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Cucumber</label>
<button type="submit">Add plant</button>
<br>
<label for="title" name="name">Guava</label>
<button type="submit">Add plant</button>
</form>