@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* 
#3B506F
#537694
#92ABB2
#DADAE4
#F2F3F8
*/

body {
  padding: 0px;
  margin: 0px;
  font: 14px "Oxygen";
  color: white;
}

main{
  background-size: cover;
  margin: auto;
  width: 544.251968504px;

}

a {
  color: white; 
}

footer{
  color: white;
  align-items: center;
}

.link{
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px;
  padding: 0px;
}

.logo {
  margin: 20px;
  padding: 0px;
}

.logodos{
  padding: 0px;
  margin: 80px 0px 10px 0px;
  align-items: center;
}

.enter{
  font-size: 40px;
  padding: 0px;
  margin: 0px 0px 50px 0px;
  font-family: 'Oswald';
  color: white;
  font-weight: 400;
}

.title{
  color: white;
  font-size: 60px;
  padding: 0px;
  margin: 30px 0px 0px 40px;
  font-family: 'Oswald';
  font-weight: 600;
}

.titlecenter{
  color: white;
  font-size: 55px;
  padding: 0px;
  margin: 40px 0px 20px 0px;
  font-family: 'Oswald';
  font-weight: 600;
  text-align: center;
}

.titlelogin{
  color: white;
  font-size: 60px;
  padding: 0px;
  margin: 20px 0px 30px 40px;
  font-family: 'Oswald';
  font-weight: 600;
}

.titleprofile{
  color: white;
  font-size: 50px;
  padding: 0px;
  margin: 20px 0px 30px 40px;
  font-family: 'Oswald';
  font-weight: 600;
}

.titlelogin2{
  color: white;
  font-size: 60px;
  padding: 0px;
  margin: 20px 0px 10px 40px;
  font-family: 'Oswald';
  font-weight: 600;
}

.titleizq{
  color: white;
  font-size: 60px;
  padding: 0px;
  margin: 0px 40px 0px 0px;
  text-align: right;
  font-family: 'Oswald';
  font-weight: 600;
}

.titleplant{
  color: white;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 50px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.subtitleplant{
  color: white;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 80px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.subtitleplants{
  color: white;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 50px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.subtitleremainder{
  color: white;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 50px;
  padding: 0px;
  margin: 10px 0px 20px 0px;
}

.subtitleremainder2{
  color: white;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 40px;
  padding: 0px;
  margin: 0px 0px 8px 40px;
}

.subtitle{
  color: white;
  text-align: center;
  font-family: 'Oxygen';
  font-weight: 200;
  font-size: 40px;
  padding: 0px;
  margin: 0px 40px 50px 40px;
}

.subtitlesignup{
  padding: 0px;
  margin: 0px 0px 50px 40px;
  font-family: 'Oxygen';
  font-weight: 170;
  font-size: 40px;
  color: white;
}

.parrafocenter{
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 0px;
  margin: 0px 40px 0px 40px;
}

.parrafocenter2{
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  margin: 0px 40px 30px 40px;
}

.parrafo{
  color: white;
  font-size: 18px;
  padding: 0px;
  margin: 0px 0px 100px 40px;
}

.parrafoizq{
  color: white;
  font-size: 18px;
  padding: 0px;
  margin: 0px 40px 0px 0px;
  text-align: right;
}

.date{
  color: white;
  font-size: 15px;
  padding: 0px;
  margin: 0px 40px 0px 40px;
}

.date2{
  color: white;
  font-size: 15px;
  padding: 0px;
  margin: 0px 0px 0px 40px;
}

.carruseltitle{
  color: white;
  font-size: 25px;
}

.redes{
  color: white;
  font-family: 'Oxygen';
  font-size: 20px;
  margin: 0px 20px 20px 40px;
  padding: 0px;
}

.twitterimg{
  margin: 0px 0px 15px 50px;
  padding: 0px;
}

.facebookimg{
  margin: 0px 50px 15px 0px;
  padding: 0px;
}

.instagramimg{
  margin: 0px 0px 15px 0px;
  padding: 0px;
}

.abajo{
  margin: 0px 0px 40px 0px;
  padding: 0px;
}

.imagelado{
  display: flex
}

.btn-login{
  margin: 10px 0px 0px 40px;
  padding: 0px;
}

.btn-update{
  margin: 10px 0px 350px 40px;
  padding: 0px;
}

.btn-edit{
  margin: 8px 0px 430px 40px;
  padding: 0px;
}

.btn-goback{
  margin: 8px 0px 430px 10px;
  padding: 0px;
}

.btn-remind{
  margin: 8px 0px 20px 40px;
  padding: 0px;
}

.btn-remind2{
  margin: 8px 0px 260px 40px;
  padding: 0px;
}

.btn-remind3{
  margin: 8px 0px 20px 210px;
  padding: 0px;
}

.parraforemaind{
  color: white;
  margin: 0px 0px 30px 40px;
  padding: 0px;

}

.imagelogin{
  width: 540px;
}



/*# sourceMappingURL=style.css.map */